:root {
  /** Colors **/
  --color-primary: #be8c63;
  --color-primary-light: #e4d1b9;
  --color-primary-dark: #a97155;
  --color-accent: #8fbdd3;
  
  --color-600: hsl(0, 0%, 0%);
  --color-500: hsl(30, 9%, 9%);
  --color-400: hsl(30, 7%, 11%);
  --color-300: hsl(0, 0%, 53%);
  --color-200: hsl(0, 0%, 87%);
  --color-100: hsl(0, 0%, 100%);
}
