@use "../abstracts/" as *;
:root {
  /* font-sizes */
  
  /* font-weight */
  --fw-xlight: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 900;
}

// HEADINGS
.section-title {
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;

  &--white {
    color: var(--color-100);
  }

  @include breakpoint(tablet) {
    
  }
}




