@use '../abstracts/' as *;
.container{
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1200px;

    @include breakpoint(tablet){
        padding: 0 3rem;
    }
}

.container-narrow{
    margin: 0 auto;
    max-width: 37rem;
    padding-inline: 1.5rem;

   @include breakpoint(laptop){
        max-width: 46rem;
       
    }
}

.container-md{
    margin: 0 auto;
    max-width: 60rem;
    padding-inline: 1.5rem;

    @include breakpoint(tablet){
        padding: 0 3rem;
    }
}


