.flex{
    display: flex;

    &--sb{
        justify-content: space-between;
        align-items: center;
    }

    &--center{
        justify-content: center;
        align-items: center;
    }
}

