
@use '../abstracts/' as *;
.span-line{
    max-width: 21ch;
    line-height: 1.2;
    font-weight: var(--fw-300);
    font-size: var(--fs-sm);

    @include breakpoint(tablet){
      font-size: var(--fs-lg);
    }

    @include breakpoint(laptop) {
      grid-column: 2 / 3;
      justify-self: center;
      
    }

  }