@use "../abstracts/" as *;

.btn {
  display: inline-block;
  text-transform: uppercase;
  
  background-color: var(--color-accent);
  letter-spacing: 1px;
  font-weight: var(--fw-700);
  padding: 0.8rem;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s;
  color: var(--color-100);

  @include breakpoint(tablet) {
    font-size: var(--fs-sm);
  }

  @include breakpoint(laptop) {
    padding: 1.3rem 1.6rem;
    
  }


  &--white{
      border: 1px solid white;
      color: var(--color-100);
      background-color: var(--color-600);

      @include breakpoint(laptop){
          padding: .5rem;
      }
  }
}
