.cart-icon{
    position: relative;
    
    &__quantity{
        position: absolute;
        top: -.4rem;
        right: -.5rem;
        
        color: black;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        font-size: 10px;
        display: grid;
        place-content: center;
       
    }
}