@use "../abstracts/" as *;
.cart-btn {
  position: relative;
  cursor: pointer;

  @include breakpoint(laptop){
    margin-bottom: 6px;
  }

  & svg {
    position: relative;
    pointer-events: none;
    stroke: white;

    @include breakpoint(laptop) {
      stroke: black;
    }
  }
}

.cart-btn-quantity {
  background-color: var(--color-accent);
  border-radius: 40%;
  color: var(--color-100);
  padding: 0px 4px;
  position: absolute;
  right: -7px;
  top: -2px;
  font-size: 14px;
}
