@use "../abstracts/" as *;
.header{
    position: relative;
    height: var(--header-height);
    width: 100%;
    padding: 0 1.5rem;

    @include breakpoint(tablet){
        padding: 0 4rem;
       
    }
}