@use "../abstracts/" as *;

.hero {
  position: relative;

  @include breakpoint(tablet) {
  }

  &__title {
    position: absolute;
    top: 5.3rem;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: var(--fw-700);
    color: var(--color-600);
    text-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);

    @include breakpoint(tablet) {
      font-size: 6rem;
      top: 9.3rem;
    }
  }

  &__header {
    & p {
      max-width: 21ch;

      @include breakpoint(tablet) {
        line-height: 1.1;
        padding-top: 2rem;
        padding-bottom: 6rem;
      }
    }
  }

  &__description {
    @include breakpoint(tablet) {
      text-align: center;
    }

    & p {
      line-height: 1.5;
    }
  }
}
