@use "../abstracts/" as *;

.product-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include breakpoint(tablet) {
    padding-bottom: 5rem;
    flex-direction: row;
    justify-content: center;
  }

  &__column-1 {
    padding: 0 1.5rem;

    @include breakpoint(tablet) {
      width: 50%;
      align-self: center;
    }
  }

  &__column-2 {
    @include breakpoint(tablet) {
      width: 50%;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;

    @include breakpoint(tablet) {
      aspect-ratio: 3 / 4;
    }
  }
}
