@use '../abstracts/' as *;

.socials__list{
    gap: 1.5rem;

    @include breakpoint(tablet){
        gap: 2.5rem;
    }

    @include breakpoint(laptop){
        display: none;
    }

    & svg{
        width: 36px;
        height: 36px;
        
        @include breakpoint(tablet){
            width: 36px;
            height: 36px;
        }
    }

}