@use '../abstracts/' as *;

.socials__list{
    gap: 1.5rem;

    @include breakpoint(tablet){
        gap: 2.5rem;
       
    }

    & svg{
        @include breakpoint(tablet){
            width: 64px;
            height: 64px;
        }
    }

}