@use "../abstracts/" as *;
.top-bar {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include breakpoint(tablet) {
    padding: 4rem 0;
  }

  &__logo {
   width: 150px;


   @include breakpoint(tablet){
     width: 200px;
   }
  }
}
