@use "../abstracts/" as *;
.top-bar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  &__logo {
    width: 150px;
    
    @include breakpoint(tablet) {
      width: 200px;
    }
  }
}
