@use "../abstracts/" as *;
.about {
  &__subtitle {
    margin-top: 0.5rem;
    color: var(--color-primary-dark);
  }

  &__description p {
    line-height: 1.8;

    @include breakpoint(tablet) {
      line-height: 2;
      font-weight: var(--fw-light);
      font-size: 22px;
    }
  }

  &__images {
    margin-top: 3rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 8rem;
    }
  }

  &__description {
    margin-top: 2rem;
  }

  &__img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__btn {
    margin-top: 3rem;
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
      margin-top: 6rem;
    }
  }
}
