@use "../abstracts/" as *;
.about {
  &__text {
    color: var(--color-400);
    padding-inline: 1.5rem;

    @include breakpoint(tablet) {
      padding-inline: 3rem;
    }

    @include breakpoint(laptop) {
      font-size: var(--fs-sm);
    }
  }

  &__subtitle{
    margin-top: var(--space-xs);
    @include breakpoint(tablet) {
      margin-bottom: var(--space-md);
    }
  }

  &__title,
  &__subtitle {
    @include breakpoint(laptop) {
      
    }
  }


  &__description{
    margin-top: var(--space-md);
  }

  &__description p {
    line-height: 1.9;
  }

  &__images {
    margin-top: var(--space-xl);
    
    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: var(--space-xxl);
    }
  }

  &__img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__btn {
    margin-top: 3rem;
    margin-bottom: 1rem;

    @include breakpoint(laptop) {
      align-self: center;
      margin-top: 5rem;
    }
  }
}
