@use "../abstracts/" as *;
.cart__item {
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 1.5rem;

  &-img {
    width: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &-title {
    line-height: 1.1;
  }

  &-price {
    margin-top: var(--space-xs);
  }

  &-remove-btn {
    color: var(--color-300);
    font-size: 14px;
  }

  &-quantity-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-plus-btn,
  &-minus-btn{
      stroke: var(--color-accent);
  }
}
