.shop-main{
    position: relative;
}

.cart{
    display: grid;
    gap: 4rem;
    align-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0 1rem;
   

    &-items{
        display: grid;
        gap: 3rem;
    }

    &-footer{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__subtotal{
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }
}