@use "../abstracts/" as *;
.cart__items{
  display: grid;
  gap: 3rem;
}
.cart__item {
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 1.5rem;

  &-img {
    width: 85px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &-info{
    justify-content: center;
  }

  &-title {
    line-height: 1.1;
    font-size: 20px;
  }

  & h4 {
    margin-top: .5rem;
    font-size: 18px;
  }

  &-remove-btn {
    font-size: 14px;
    margin-top: .5rem;
    display: flex;
    justify-self: start;
  }

  &-quantity-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
  }

  &-plus-btn,
  &-minus-btn{
    display: grid;
    place-content: center;
  }

  &-plus-btn svg,
  &-minus-btn svg{
      stroke: var(--color-primary);
      stroke-width: 2px;
  }
}
