@use "../abstracts/" as *;

.food {
  gap: 8rem;

  @include breakpoint(tablet) {
    gap: 7rem;
  }

  @include breakpoint(laptop) {
    gap: 12rem;
  }

  & .column-1 {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
      justify-content: center;
      padding: 0 3rem;
    }
  }

  &__btn {
    justify-self: center;

    @include breakpoint(laptop) {
      margin-bottom: 7rem;
    }
  }
}

.article {
  gap: 3rem;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__title {
    margin-bottom: 1rem;

    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }

    @include breakpoint(laptop) {
      justify-self: flex-start;
      margin-bottom: 3rem;
    }
  }

  &__description {
    line-height: 1.7;

    @include breakpoint(tablet) {
      font-weight: var(--fw-light);
      
    }
  }

  &__img {
    object-fit: cover;
    aspect-ratio: 4/3;

    @include breakpoint(tablet) {
      aspect-ratio: 7/8;
    }
  }
}
