@use "../abstracts/" as *;

.footer {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: var(--fs-sm);
  color: var(--color-100);
  background-color: var(--color-600);
  font-weight: var(--fw-300);

  @include breakpoint(tablet) {
    margin-top: 5rem;
  }

  &__title {
    margin-bottom: 2.5rem;

    h3 {
      margin-top: 0.5rem;
    }
  }

  &__container {
    gap: 5rem;

    @include breakpoint(laptop) {
      gap: 7rem;
    }

    p {
      line-height: 1.7;
    }
  }

  &__info__wrapper {
    gap: var(--space-xl);

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: var(--space-xxl);
    }

    & h3 {
      margin-bottom: 0.75rem;
    }
  }

  &__contact__wrapper {
    margin-top: 1rem;

    & a {
      color: white;
    }
  }

  &__contact__container {
    position: relative;
    margin-top: 1rem;
    @include breakpoint(laptop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
  }

  &__socials {
    margin-top: 4rem;

    @include breakpoint(tablet) {
      padding-block: 2rem;
    }

    @include breakpoint(laptop) {
      position: absolute;
      bottom: 12rem;
    }
  }

  &__list {
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin-top: 1rem;

    svg {
      width: 42px;
      height: 42px;
      stroke-width: 1.25px;
      transition: .3s;

      &:hover{
       stroke: var(--color-accent);
      }
    }
  }

  &__author {
    text-align: center;
    margin-top: 3rem;
    font-size: 10px;
    letter-spacing: 1px;

    @include breakpoint(laptop) {
      margin-top: 4rem;
    }
  }
}
