@use "../abstracts/" as *;
.form {
  width: 100%;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;

  @include breakpoint(laptop) {
    padding-top: 0;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 0.5rem;
  }

  &__label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--fw-600);
    padding-block: 0.5rem;
  }

  &__input {
    padding-block: 0.75rem;
    padding-left: 1rem;
    border-radius: 4px;
  }

  &__textarea {
    height: 7rem;
    resize: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-top: 1rem;

    @include breakpoint(tablet) {
      height: 10rem;
      margin-top: 1.5rem;
    }
  }

  &__btn {
    margin-top: 1rem;
    width: 100%;

    &:hover{
      background-color: var(--color-accent);
    }

    @include breakpoint(tablet) {
      margin-top: 1.5rem;
    }
  }
}
