@use "../abstracts/" as *;
.form {
  width: 100%;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;

  @include breakpoint(laptop) {
    padding-top: 0;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 0.5rem;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__input {
    padding-block: 0.5rem;
    padding-left: 1rem;
    border-radius: 4px;
  }

  &__textarea {
    
    height: 8rem;
    resize: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
   

    @include breakpoint(tablet) {
      height: 10rem;
      margin-top: 1.5rem;
    }
  }

  &__btn {
    margin-top: 1.5rem;
    width: 100%;

    &:hover{
      background-color: var(--color-accent);
    }

    @include breakpoint(tablet) {
      margin-top: 1.5rem;
    }
  }
}
