@use "../abstracts/" as *;
.header{
   position: relative;
   background-color: var(--color-100);
   width: 100%;
  z-index: 99;

  @include breakpoint(tablet){
    padding-top: 1rem;
  }

  @include breakpoint(laptop){
    padding-top: 2rem;
  }
}