@use "../abstracts/" as *;
.header {
  position: relative;
  background-color: var(--color-100);
  width: 100%;
  z-index: 99;
  margin: 0 auto;
  transition: transform 0.5s, padding 0.5s;

  @include breakpoint(tablet) {
    padding: 1rem 0;
  }

  
}
