@use "../abstracts/" as *;

.hero {
  width: 100%;
  position: relative;
  
  @include breakpoint(laptop) {
    margin-top: 6rem;
  }
  @include breakpoint(desktop) {
    margin-top: 13rem;
  }

  &__header {
    position: relative;

    @include breakpoint(laptop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
    }

    & p {
      @include breakpoint(laptop) {
        margin-bottom: 1.25rem;
      }
    }
  }

  &__title {
    color: var(--color-400);
    font-family: var(--ff-primary);
    font-size: 70px;
    font-weight: var(--fw-700);
    position: absolute;
    text-transform: uppercase;
    top: 5.3rem;

    @include breakpoint(tablet) {
      font-size: 140px;
      top: 8.25rem;
    }

    @include breakpoint(laptop) {
      top: -1.5rem;
      left: 5rem;
    }
    @include breakpoint(desktop) {
      top: -1.5rem;
      left: 5rem;
    }
  }

  &__img {
    margin-top: var(--space-xl);
    object-fit: cover;

    @include breakpoint(tablet) {
      margin-top: var(--space-xxl);
    }
    @include breakpoint(laptop) {
      margin-top: 2.75rem;
    }
  }

  &__description {
    font-size: var(--fs-sm);
    padding-top: var(--space-xl);
    color: var(--color-400);

    @include breakpoint(tablet) {
      text-align: center;
      font-size: var(--fs-md);
      padding-top: var(--space-xxl);
    }

    @include breakpoint(laptop) {
      padding-top: 7rem;
    }
  }
}
