@use "../abstracts/" as *;

.hero {
  width: 100%;
  position: relative;
  padding-top: 3rem;
  

  &__header {
    padding-top: 3rem;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}


  &__title {
    position: relative;
    font-size: var(--fs-fluid-xxl);
    text-transform: uppercase;
    font-weight: 800;
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: 4.1rem;
  }

  &__description {
    font-size: var(--fs-fluid-text);
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: var(--color-400);
  }
}
