@use "../abstracts/" as *;

.products {
  margin-bottom: 3rem;
  
  @include breakpoint(laptop){
    margin-top: 3rem;
  }
  @include breakpoint(desktop){
    margin-top: 10rem;
  }

  

  @include breakpoint(desktop) {
    margin-top: 11rem;
  }

  &__header{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    @include breakpoint(laptop){
      flex-direction: row;
      gap: 3rem;
    }
  }

  &__container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    position: relative;

    @include breakpoint(laptop) {
      gap: 4rem;
      padding-top: 6rem;
    }
  }
}

.product {
  &__img-container {
    margin-top: var(--space-xl);
    position: relative;
    overflow: hidden;

    &:hover .product__add-btn {
      transform: translateX(0);
    }

    &:hover .product__img {
      opacity: 0.5;
    }
  }

  &__img {
    transition: opacity 0.4s;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
  }

  &__add-btn {
    position: absolute;
    bottom: 15%;
    right: 0;
    background-color: var(--color-accent);

    font-weight: bold;
    font-size: 12px;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    transform: translateX(100%);
    transition: transform 0.6s;

    & span {
      pointer-events: none;
    }

    &:hover span {
      color: white;
    }

    &:hover svg {
      stroke: white;
    }
  }

  &__info {
    margin-top: var(--space-sm);
    display: grid;

    @include breakpoint(tablet) {
      grid-template-rows: auto 125px auto;
    }

    & h4 {
      color: var(--color-accent);
    }
  }

  &__name {
    font-size: var(--fs-md);
    margin-top: var(--space-xs);
  }

  &__description {
    color: var(--color-300);
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
  }

  &__price {
    font-size: var(--fs-md);
  }
}
