@use "../abstracts/" as *;

.specialty {
  font-size: var(--fs-sm);

  @include breakpoint(laptop){
    font-size: var(--fs-md);
  }
  &__btn {
    margin-top: var(--space-xl);

    @include breakpoint(tablet) {
      margin-top: 0;
    }
  }

  &__heading {
    @include breakpoint(tablet) {
      display: flex;
      align-items: flex-start;
      gap: 3rem;
    }
    @include breakpoint(laptop) {
      gap: 12rem;
    }
  }

  &__title {
    max-width: 420px;
  }

  &__container {
    margin-top: var(--space-xxl);
    row-gap: 4rem;
    grid-template-columns: 300px;
    justify-content: center;

    @include breakpoint(tablet) {
      row-gap: 5rem;
    }

    @include breakpoint(laptop) {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      column-gap: 5rem;
      margin-top: 9rem;
    }
  }

  &__box {
    text-align: center;

    &-img svg {
      width: 75px;
      @include breakpoint(tablet) {
        width: 90px;
      }
    }

    &-text {
      margin-top: var(--space-sm);
      font-weight: var(--fw-300);

      @include breakpoint(laptop){
        margin-top: var(--space-md);
      }
    }

    &-description {
      margin-top: var(--space-sm);
    }
  }

  &--line {
    position: relative;

    &:before {
      @include breakpoint(laptop) {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -3rem;
        height: 100px;
        width: 1px;
        background-color: var(--color-300);
      }
    }
  }
}
