@use "../abstracts/" as *;

.specialty {
  svg {
    width: 5rem;
    height: 5rem;
    fill: var(--color-primary);
  }
  &__btn {
    margin-top: 3rem;
  }

  &__heading {
    @include breakpoint(tablet) {
      display: flex;
      align-items: flex-start;
      gap: 3rem;
    }
    @include breakpoint(laptop) {
      gap: 12rem;
    }
  }

  &__title {
    max-width: 420px;
  }

  &__container {
    margin-top: 6rem;
    row-gap: 4rem;
    grid-template-columns: 300px;
    justify-content: center;
    align-items: center;

    @include breakpoint(laptop) {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      column-gap: 5rem;
      margin-top: 9rem;
    }
  }

  &__box {
    // text-align: center;

    &-text {
      margin-top: 1rem;
    }

    &-description {
      margin-top: 0.75rem;
    }
  }

  &--line {
    position: relative;

    &:before {
      @include breakpoint(laptop) {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -3rem;
        height: 100px;
        width: 1px;
        background-color: var(--color-300);
      }
    }
  }
}
