@use "../abstracts/" as *;

.team {
  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    @include breakpoint(tablet) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: var(--space-lg);
    }
    @include breakpoint(laptop) {
      margin-top: 3rem;
    }
    @include breakpoint(desktop) {
      margin-top: 10rem;
    }
  }

  &__container {
    gap: var(--space-xxl);
    margin-top: var(--space-lg);

    @include breakpoint(tablet) {
      margin-top: var(--space-xxl);
    }

    @include breakpoint(laptop) {
      margin-top: 7rem;
      gap: 9rem;
    }
  }

  &__member {
    gap: var(--space-sm);
    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }

    &-img {
      aspect-ratio: 6/7;
      object-fit: cover;

      @include breakpoint(tablet) {
      }
    }

    &-content {
      @include breakpoint(laptop) {
        align-self: center;
      }
    }

    &-description {
      margin-top: var(--space-sm);
    }
  }
}

.btn__home {
  justify-self: center;
  text-align: center;

  @include breakpoint(laptop) {
    margin-block: 2rem;
  }
}
