@use "../abstracts/" as *;
.top-bar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  transition: transform 0.3s;

  

  @include breakpoint(laptop) {
    align-items: flex-end;
  }

  &__logo {
    width: 130px;

    @include breakpoint(tablet) {
      width: 160px;
    }
  }
}
