@use "../abstracts/" as *;
.top-bar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5rem;

  @include breakpoint(tablet){
    padding: 0 3rem;
  }

  @include breakpoint(laptop){
    padding: 0 5rem;
  }
  

  &__logo {
    width: 130px;
    
    @include breakpoint(tablet) {
      width: 160px;
    }

    @include breakpoint(tablet) {
      width: 180px;
    }
  }
}
