@use "../abstracts/" as *;
.top-bar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  transition: transform 0.3s;

  @include breakpoint(tablet) {
    padding-inline: 3rem;
  }

  @include breakpoint(laptop) {
   
    padding-inline: 5rem;
  }
}

.logo {
  font-size: 2rem;
  font-family: var(--ff-secondary);
  font-weight: bold;
  color: var(--color-600);
}
