:root{
    --header-height: 5rem;
    --section-spacing: 3rem;
    //gap
    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-xxl: 5rem;
    //marging
    --margin-xs: 1rem;
    --margin-sm: 1.5rem;
    --margin-md: 2rem;
    --margin-lg: 4rem;
    --margin-xl: 5rem;
    --margin-xxl: 7rem;
}