:root{
    --header-height: 6rem;
    //gap
    --gap-xs: .5rem;
    --gap-sm: 1.5rem;
    --gap-md: 2rem;
    --gap-lg: 3rem
    --gap-xl: 5rem;
    //marging
    --margin-xs: .5rem
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 3rem
}